<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<%@answers=current_user.answers%>
<%@test=@answers.map(&:test_id).uniq%>
  <%if @test.present?%>
    <table class="table">
      <thead>
        <tr>
          <th><%="User Name"%></th>
          <th><%="Test Name"%></th>
          <th><%="Time"%></th>
          <th><%="Date of Test"%></th>
          <th><%="score"%></th>
        </tr>
      </thead>
      <%@test.each do |test|%>
        <%t=Test.find_by(id:test)%>
        <tr>
          <td><%=current_user.name%>
          <td><%=t.name%></td>
          <td><%=t.duration.strftime("%M:%S")%> minutes</td>
          <td><%=date_of_examination(t)%></td>
          <td><%=user_result(t,@user)%></td>
        </tr>
      <%end%>
    </table>
  <% else %>
       <h3>You are not attempt any test</h3> 
  <%end%>
<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
