<%= answer.question.question %><br>
  <%= form_for @answer, :html => { :class => "form-horizontal test" } do |f| %>
  <%= f.hidden_field :question_id%>
  <%= f.hidden_field :test_id%>
  
  <% if @questions.first.q_type == "MAQ" %>
        <% @questions.first.choices.each do |choice| %>
        <%= check_box_tag "answer[option_ids][]", choice.id, false %>
        <%= label_tag "answer[option_ids][]", choice.choice,:class=>"option" %>
  <% end %>  
<%else%>
<% @questions.first.choices.each do |choice| %>
<div class="form-group">
     <%= radio_button_tag "answer[option_ids][]", choice.id, false %>
     <%= label_tag "answer[option_ids][]", choice.choice,:class=>"option"  %>
    </div>
  <% end %>  
<%end%>  

    <%= f.submit "submit", :class => 'btn btn-primary'%>
  

  <%end%>



    <%#= question.question %>
    
    <%# for answer in question.choices %>
        <%#= f.check_box_tag :choice_id, answer.id%>
      <%#= check_box_tag "answer[option_ids][]", answer.id, class: 'check_box' %>
           <%#= answer.choice %>
    <%# end %>
  

<script type="text/javascript">
 
  $(document).on("click",'#choice_id', function(){
  // var cb = $('input[type="checkbox"]');
  // cb.prop("checked", !cb.prop("checked"));
  var check_boxes = $('input[type=checkbox]');
    check_boxes.click(function() {
    check_boxes.prop('checked', false);
  $(this).prop('checked', true);
});
});
</script>